/* Css file for pdf upload page */

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(165, 202, 241);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.heading {
  text-align: center;
  color: brown;
  margin-bottom: 30px;
  text-decoration: underline;
  font-weight: bold;
}

form {
  margin-bottom: 20px;
}

input[type="file"] {
  display: block;
  margin: auto;
}

p {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

object {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

button:hover {
  background-color: #0d5b11;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  object {
    height: 300px;
  }
}
